.soma{
    background-color: aqua;
    border-radius: 2px;
    height: 250px; 
    width: 250px;
    margin-left: 50%;
    margin-top: 200px;   
}
.campo1{
    margin-left: 10px;
    margin-top: 10px;
}
.btnsomar{
    margin-left: 10px;
    margin-top: 5px; 
}
.titulo{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}